<div id="Editor-Work" >
  <!--<form [formGroup]="textForm" id="Editor-work-container">
    <input formControlName="title" id="Editor-work-title" type="text" name="title" [(ngModel)]="book.title" placeholder="Title...">
    <fieldset id="Editor-work-intertext">
      <div id="Editor-work-intertext-container">
        <textarea formControlName="text" id="Editor-work-intertext-textarea" maxlength="30000" [(ngModel)]="book.text"></textarea>
        <div id="Editor-Work-Intertext-Highlights" class="hidden"></div>
      </div>
    </fieldset>
  </form>-->
</div>
