
#Editor-main
  position: relative

.tab
  position: absolute
  top: 0
  left: 0
  height: 100%

mark
  border-radius: 3px
  cursor: pointer
  background-color: transparent

mark:hover
  background-color: #b1d5e5


.closebtn
  font-size: 36px

.update
  top: 60px
  right: 200px

.upload
  top: 60px
  right: 130px


.boton
  position: absolute

  width: 60px
  height: 60px
  border-radius: 60px
  border-color: #444
  background-color: #444
  line-height: 55px
  text-align: center
  cursor: pointer
  color: #ddd
  font-size: 30px


.boton:active
  background-color: #333
