<div class="main content">
	<div class="panel bg-white">
		<h2>Bienvenido!</h2>
		<h3>Funcionamiento:</h3>
		<p>Esta pagina web contiene el conocimiento del universo TODO. Este conociemiento esta recogido en textos. Los usuarios podran leer todos los textos. Los usuarios que tengan cuenta ademas podran crear textos y valorar los de otros usuarios. Los textos con mas votos formaran parte del universo.</p>
		<p>Para registrarte necesitas tener un nombre valido que no tenga caracteres o simbolos raros. Esto se debe a que este sera el nombre de tu personaje. Ademas para poder entrar tu nombre tendra que ser aceptado por un personaje ya registrado el cual sera tu padre o madre. Tu personaje tendra el apellido del padre o madre.</p>
		<br>
		<h2>Pestañas:</h2>
		<h3>News:</h3>
		<p>Aqui podreis encontrar todas las noticias como: nuevas actualizaciones que tenga la pagina web, los nuevos textos que se incorporen al universo y muchos mas...</p>
		<h3>Editor:</h3>
		<p>Con esta herramienta podreis crear nuevas historias que podreis compartir con todo el mundo.</p>
		<h3>Tale:</h3>
		<p>Esta seccion contiene todos los textos que estan dentro del universo y los que no. Podreis leerlos y valorarlos.</p>
	</div>
</div>