<div class="main">
  <div id="Signin-sign" class="panel">
    <h2>Sign in</h2>
    <!--<form [formGroup]="signinForm" (ngSubmit)="onSubmit()" id="Signin-form">
      <input formControlName="username" id="Signin-user" type="text" placeholder="Enter Username" name="username" required><br>
      <input formControlName="email" id="Signin-email" type="text" placeholder="Enter Email" name="email" required><br>
      <input formControlName="password" id="Signin-pass" type="password" placeholder="Enter Password" name="pass" required><br>
      <button  [disabled]="signinForm.invalid" id="Signin-button" type="submit">Signin</button>
    </form>-->
  </div>
</div>
