<div class="main">
	<form [formGroup]="searchForm" (ngSubmit)="onSubmit()" id="Enc-search">
		<input formControlName="search" id="Enc-text" type="text" name="search" placeholder="Search...">
		<button id="Enc-button" type="submit">
			<i class="fas fa-search" style="color:#333"></i>
		</button>
	</form>

	<div *ngIf="results" style="margin-top:60px">
		<div *ngFor="let result of results" class="row">
			<div class="s1"></div>
			<div class="s10 item" (click)="onItemClick(result)">
				<a>{{result.title}}</a>
			</div>
			<div class="s1"></div>
		</div>
	</div>
</div>
