<div >
	<app-accordion-item title="ADD">
		<form [formGroup]="textForm" (ngSubmit)="onSubmit()">
			<label>
				Title:
				<input type="text" formControlName="title">
			</label>
		  
			<label>
				Author:
				<input type="text" formControlName="author">
			</label>

			<input type="submit">
		</form>
	</app-accordion-item>
</div>
<br>
<div class="row" *ngFor="let item of data">
	<div class="s10 p-10 bg-c mb-10">
		{{item.title}}
	</div>
	<a routerLink="../../../texts/{{item._id}}" class="button bg-c mb-10 s1 p-10">
		READ
	</a>
	<div class="button bg-c mb-10 s1 p-10">
		EDIT
	</div>
</div>