/* You can add global styles to this file, and also import other style files */

*
	box-sizing: border-box
	outline: none
	margin: 0px
	user-select: none

body
	margin: 0
	padding: 0
	font-family: Arial, Helvetica, sans-serif
	background-color: #333

a
	cursor: pointer
	text-decoration: none !important
	color: inherit

.pointer
	cursor: pointer

.card
	display: flex
	flex-direction: column
	margin: 10px
	border-radius: 15px
	height: 400px
	box-shadow: 0px 0px 10px 3px #222

.panel
	box-shadow: 10px 10px 10px #111
	padding: 50px

.main
	position: relative
	min-height: 74vh
	background-color: #444

.content
	padding: 100px

.item-list
	background-color: #ddd
	padding: 20px
	margin: 10px

.center
	text-align: center



.form-text
	width: 100%
	height: 50px
	margin: 10px auto
	text-align: center
	border: 4px solid #777
	border-radius: 25px


.form-button
	width: 80%
	height: 40px
	margin: 10px auto
	text-align: center
	border: none
	cursor: pointer
	border-radius: 20px



.m-1
	margin: 10px

.p-1
	padding: 10px

.p-100
	padding: 100px


/* Colors */ 


.bg-0
	background-color: #000

.bg-1
	background-color: #111

.bg-2
	background-color: #222
	
.bg-3
	background-color: #333

.bg-4
	background-color: #444

.bg-5
	background-color: #555

.bg-6
	background-color: #666

.bg-7
	background-color: #777
	
.bg-8
	background-color: #888

.bg-9
	background-color: #999

.bg-a
	background-color: #aaa

.bg-b
	background-color: #bbb
	
.bg-c
	background-color: #ccc

.bg-d
	background-color: #ddd

.bg-e
	background-color: #eee

.bg-f
	background-color: #fff

.bg-white
	background-color: #fff
/* End Colors */

.row
	display: flex
	flex-wrap: wrap

.s12
	flex: 0 0 100%
.s11
	flex: 0 0 91.666666%
.s10
	flex: 0 0 83.333333%
.s9
	flex: 0 0 75%
.s8
	flex: 0 0 66.666666%
.s7
	flex: 0 0 58.333333%
.s6
	flex: 0 0 50%
.s5
	flex: 0 0 41.666666%
.s4
	flex: 0 0 33.333333%
.s3
	flex: 0 0 25%
.s2
	flex: 0 0 16.666666%
.s1
	flex: 0 0 8.333333%
